extends ./partial/layout.pug

block vars
  - var dateNow = Date.now();
  - var title       = ''
  - var description = ''
  - var keywords    = ''
  - var url         = ''
  - var ogimage     = ''
  - var site_name   = ''
  - var style       = '/css/index.css?' + dateNow


block script
  script(src='js/index.bundle.js?' + dateNow)


block contents
  main#main(role='main')
    h1 CarouselUI!!

    //- TOP
    section.section#top

      .carousel
        .carousel_wrapper
          .carousel_item
            img(src="https://dummyimage.com/600x400/cccccc/000000&text=1", alt="")
          .carousel_item
            img(src="https://dummyimage.com/600x400/cccccc/000000&text=2", alt="")
          .carousel_item
            img(src="https://dummyimage.com/600x400/cccccc/000000&text=3", alt="")
          .carousel_item
            img(src="https://dummyimage.com/600x400/cccccc/000000&text=4", alt="")
          .carousel_item
            img(src="https://dummyimage.com/600x400/cccccc/000000&text=5", alt="")
        .carousel_previous ◀︎
        .carousel_next ▶︎
        .carousel_indicator
          .carousel_dot
          .carousel_dot
          .carousel_dot
          .carousel_dot
          .carousel_dot
