@import 'partial/reset';
// @import "partial/module";
// @import "partial/layout";
// @import "partial/modal";

body {
  background: #eee;
}
#top {
  margin-top: 68px;
}

.carousel {
  position: relative;
  margin: 40px auto;
  width: 100%;
  overflow-x: hidden;

  #{&}_wrapper {
    display: inline-flex;
    margin-left: calc(50vw - 30vw - 10px);
  }
  #{&}_item {
    width: 60vw;
    margin: 20px 10px;
    background: lightgray;
    img {
      width: 100%;
      pointer-events: none;
    }
  }
  #{&}_previous,
  #{&}_next {
    color: gray;
    font-size: 20px;
  }
  #{&}_previous {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  #{&}_next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  #{&}_indicator {
    display: flex;
    justify-content: center;
  }
  #{&}_dot {
    display: inline-block;
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: gray;
    &.is-active {
      background: darkgray;
    }
  }
}
